body {
  background-image: url('.//img/low-angle-view-of-spiral-staircase-against-black-background-247676.jpg');
}

button {
  width: 100%;
  min-width: 45px;
  height: 45px;
  border: 1px solid black;
  background: grey;
}
h1 {
  text-align: center;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 79vh;
  flex-direction: column;
}

tr > td:last-child button {
  background: orange;
  color: white;
}

input {
  background: black;
  width: 193px;
  color: white;
  text-align: right;
}
